<hr class="befor_main_hr">
<main>
  <section class="left col">
    <h1><a href="#">Launching the New React/Redux Curriculum</a></h1>
    <article class="">
      By APP ACADEMY INSTRUCTIONAL TEAM
    </article>

  <ul>
    <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
    <li>The whole state of your app is stored in an object tree inside a single store.
    The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
  </ul>

  <a class="link_to_comments" href="#">1738 Comments</a>
</section>

<section class="mid col">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="1" allowfullscreen ></iframe>
  <p class="warning">Warning: This video will make you want to change your career</p>
  <hr>
  <a href="#" ><span class="title">Where Are They Now?<span></a>
  <br>
  <span class="by_app" >By APP ACADEMY ALUMNI</span>
  <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
  <hr>
  <p class="title">Cat Academy</p>
  <span class="by_app">By APP ACADEMY DIRECTOR OF PRODUCTS</span>
  <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>

</section>

<section class="right col">
  <h3>The Opinion Pages</h3>

<section class="main-right">
    <section class="left_col">
      <span id="header">Op-Ed Contributor</span><br>
      <a href="#">Will Javascript ever be as easy as Ruby?</a>
      <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
      <ul>
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul>

    </section>

    <section class="right_col">
      <span id="header">Operations</span><br>
      <span class="right-col-small-header">App Academy New York Has A Brand New Office</span>
      By NY OPERATIONS

      <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
      <div class="office"> <img  src="assets/new_office.jpg" /> </div>
      <span class="right-col-small-header">Opinion Today, in your Inbox</span>
      Each weekday, get though-provoking commentary from our columnists and contributors.</p>
    </section>
</section>

  <form class="" action="index.html" method="post">
    <input type="text" name="" value="" placeholder="Get the Option newsletter by email">
    <button type="button" name="button">Sing Up</button>
  </form>

  <small>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</small>
</section>


</main>
