.section_nav ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  margin-top: 10px;
  font-family: $sans-serif;

  li {
    color: black;
  }
}
